.main {
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.left {
    width: 20vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: url("Image/forest2.png");
    background-size: 60%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.left_top {
    width: 20vw;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.IconSearch {
    font-size: 100%;
    color: whitesmoke;
}

.IconBars {
    font-size: 120%;
    color: whitesmoke;
}

.left_center {
    width: 20vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_center img {
    width: 70%;
}

.left_botton {
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_botton p {
    size: 15px;
    color: whitesmoke;
    text-align: center;
    font: italic bold 15px Bookman Old Style, serif;
}

@media screen and (max-width: 1050px) {
    .left {
        display: none;
    }
}

.center {
    width: 76vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 19vw;
}

@media screen and (max-width: 1050px) {
    .center {
        margin-left: 0vw;
        width: 82vw;
    }
}

.center_top0 {
    width: 100vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-position: center;
    top: 0;
    left: 0;
    background-image: url("Image/forest2.png");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 1;
}

.center_top0_top {
    width: 20vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.IconSearch {
    font-size: 100%;
    color: whitesmoke;
}

.IconBars {
    font-size: 120%;
    color: whitesmoke;
}

.center_top0_center {
    width: 20vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_top0_center img {
    width: 60%;
}

.center_top0_botton {
    width: 20vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_top0_botton p {
    color: whitesmoke;
    text-align: center;
    font: italic bold 12px Bookman Old Style, serif;
}

@media screen and (min-width: 1050px) {
    .center_top0 {
        display: none;
    }
}

.center_top {
    width: 79vw;
    height: 8.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: gray;
    margin-left: 0.8vw;
    z-index: 1;
}

@media screen and (max-width: 1050px) {
    .center_top {
        width: 100vw;
        top: 15vw;
        margin-left: 0vw;
    }
}

.center_top a {
    text-decoration: none;
    color: whitesmoke;
    font: bold 15px Arial, serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-right: 2vw;
}

.center_top a:hover {
    background-color: rgb(85, 84, 84);
    border-radius: 7px;
    color: whitesmoke;
    padding: 10px;
}

.center_center {
    width: 78vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid rgb(236, 233, 227);
    border-bottom: 2px solid rgb(236, 233, 227);
    border-left: 10px solid rgb(236, 233, 227);
    border-right: 10px solid rgb(236, 233, 227);
    padding-top: 20px;
    margin-top: 40px;
    background-color: whitesmoke;
}

@media screen and (max-width: 1050px) {
    .center_center {
        margin-top: 17vw;
        width: 98vw;
    }
}

.center_center_b1 {
    width: 66vw;
    margin-top: 10px;
    margin-bottom: 50px;
}

.center_center_b2 {
    width: 66vw;
    margin-top: 10px;
    margin-bottom: 50px;
}

.center_center div {
    width: 66vw;
}

@media screen and (max-width: 1050px) {
    .center_center div {
        width: 87vw;
    }
}

.center_center h2 {
    font-style: italic;
    text-align: justify;
    font-size: 20px;
}

.center_center p {
    text-align: justify;
}

span {
    font-style: italic;
    color: rgb(155, 155, 155)
}

.center_center_b1 img {
    width: 30%;
    float: right;
    margin-left: 20px;
}

.center_center_b2 img {
    width: 30%;
    float: left;
    margin-right: 20px;
}

.center_center_bottom a {
    float: right;
    font-style: italic;
    text-decoration: underline;
    color: rgb(27, 27, 27)
}

.IconArrow {
    color: rgb(27, 27, 27);
    font-size: 20px;
}

.mozaik {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    width: 30%;
    z-index: 0;
}

.row11 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.img5 {
    width: 352px!important;
    margin-right: 2px;
    margin-bottom: 2px;
}

.img6 {
    width: 216px!important;
}

.row22 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.img7 {
    width: 325px!important;
    margin-right: 2px;
}

.img8 {
    width: 245px!important;
}

.work {
    margin: 5px;
    margin-bottom: 50px;
}

.work p {
    font-size: 20px;
}

.video1 {
    size: 200px;
    float: left;
    margin-right: 20px;
    text-align: justify;
}

div.polaroid {
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: 10px;
}

div.container {
    text-align: left;
    padding: 10px 20px;
}

.carts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
}

.carts h1 {
    font-weight: 600;
    font-size: 20px;
}

.carts p {
    font-size: 20px;
}

.carts img {
    width: 200px;
    height: 100px;
}

.text5-5 {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.text5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    width: 40%!important;
}

.text5 h1 {
    font-weight: 600;
    font-size: 20px;
}

.text5 p {
    font-size: 15px;
}

.text6 {
    margin-left: 10px;
}

.text5 img {
    width: 20px;
}

.text5 hr {
    width: 40%;
    border-top: 1px solid rgb(170, 166, 166);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 78vw;
    background-color: rgb(68, 66, 66);
    padding-top: 10px;
    padding-left: 15px;
}

.footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

@media screen and (max-width: 1050px) {
    .footer {
        width: 98vw;
    }
}

.f-block1 h2 {
    color: white;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.f-block1-1 {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    margin-right: 10vw;
}

.f_block1_1_right_h3 {
    color: white;
    font-size: 15px;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

.f-block1-1-right p {
    color: white;
    font-size: 10px;
    text-align: left;
}

.footer_hr {
    width: 80%;
    border-top: 1px solid rgb(102, 101, 101);
}

.Kat1 {
    width: 30%;
    margin-right: 10px;
}

.Kat2 {
    width: 30%;
    margin-right: 10px;
}

.Kat3 {
    width: 35%;
    margin-right: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.list p {
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(209, 149, 149);
}

.FB {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer2 {
    width: 100%;
    margin-top: 20px;
}

.footer2-h3 {
    color: gray;
    font-size: 20px;
    text-align: center;
    word-wrap: normal;
}

.footer2_Foret {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}