.main {
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Image/forest2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.left {
    width: 20vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: url("Image/forest2.png");
    background-size: 60%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.left_top {
    width: 20vw;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.IconSearch {
    font-size: 100%;
    color: whitesmoke;
}

.IconBars {
    font-size: 120%;
    color: whitesmoke;
}

.left_center {
    width: 20vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_center img {
    width: 70%;
}

.left_botton {
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_botton p {
    size: 15px;
    color: whitesmoke;
    text-align: center;
    font: italic bold 15px Bookman Old Style, serif;
}

@media screen and (max-width: 1050px) {
    .left {
        display: none;
    }
}

.center {
    width: 76vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 19vw;
    background-color: gray;
}

@media screen and (max-width: 1050px) {
    .center {
        margin-left: 0vw;
        width: 82vw;
    }
}

.center_top0 {
    width: 100vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-position: center;
    top: 0;
    left: 0;
    background-image: url("Image/forest2.png");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.center_top0_top {
    width: 20vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.IconSearch {
    font-size: 100%;
    color: whitesmoke;
}

.IconBars {
    font-size: 120%;
    color: whitesmoke;
}

.center_top0_center {
    width: 20vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_top0_center img {
    width: 60%;
}

.center_top0_botton {
    width: 20vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_top0_botton p {
    color: whitesmoke;
    text-align: center;
    font: italic bold 12px Bookman Old Style, serif;
}

@media screen and (min-width: 1050px) {
    .center_top0 {
        display: none;
    }
}

.center_top {
    width: 80vw;
    height: 8.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: gray;
    margin-left: 0.8vw;
}

@media screen and (max-width: 1050px) {
    .center_top {
        width: 100vw;
        top: 15vw;
        margin-left: 0vw;
    }
}

.center_top a {
    text-decoration: none;
    color: whitesmoke;
    font: bold 15px Arial, serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-right: 2vw;
}

.center_top a:hover {
    background-color: rgb(85, 84, 84);
    border-radius: 7px;
    color: whitesmoke;
    padding: 10px;
}

.center_center {
    width: 78vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid rgb(236, 233, 227);
    border-bottom: 2px solid rgb(236, 233, 227);
    border-left: 10px solid rgb(236, 233, 227);
    border-right: 10px solid rgb(236, 233, 227);
    padding-top: 20px;
    margin-top: 40px;
    background-color: whitesmoke;
}

@media screen and (max-width: 1050px) {
    .center_center {
        margin-top: 17vw;
        width: 98vw;
    }
}

.center_center div {
    width: 66vw;
}
@media screen and (max-width: 1050px) {
    .center_center div{
        width: 87vw;
    }
}


.center_center h2 {
    font-style: italic;
    text-align: justify;
}

.center_center p {
    text-align: justify;
}

span {
    font-style: italic;
    color: rgb(155, 155, 155)
}

.center_center_b1 img {
    width: 30%;
    float: right;
    margin-left: 20px;
}

.center_center_b2 img {
    width: 30%;
    float: left;
    margin-right: 20px;
}

.center_center_bottom a {
    float: right;
    font-style: italic;
    text-decoration: underline;
    color: rgb(27, 27, 27)
}

.IconArrow {
    color: rgb(27, 27, 27);
    font-size: 20px;
}